body {
    font-family: 'Poppins', Arial, sans-serif;
    background: linear-gradient(135deg,  #564b65, #351a12, #fad0c4); /* Színátmenet kék és zöld között */
    color: white;
    margin-top: -24px;
}



/* A navbar bal oldalán a "Portfólió" és a menüpontok közötti távolság */
.navbar .container {
    display: flex;
    justify-content: flex-start; /* Balra igazítjuk az összes elemet */
    align-items: center;
}

.navbar .navbar-brand {
    margin-right: 20px; /* Távolság a "Portfólió" szöveg és a menüpontok között */
}

.navbar-nav {
    display: flex;
    gap: 20px; /* A linkek közötti távolság beállítása */
}

/* Fixáljuk a navbar-t a képernyő tetejére */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /* A navbar a legfelső rétegen legyen */
}

.hero h1 {
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

